/*
  Possible Animations:
  enter
  exit
  appear Must set transitionAppear={true} on animation component
*/

.order-enter{ 
  transform: translateX(-100%)
  opacity: 0
  transition: 0.250s
  &.order-enter-active{
    opacity 1
    transform: translateX(0)
  }
}

.order-exit{ 
  transform: translateX(0)
  opacity: 1
  transition: 0.250s
  &.order-exit-active{
    opacity 0
    transform: translateX(100%)
  }
}

.count {
  position relative
  span {
    display block !important
  }
  
}
.count-enter{
  transform: translateY(100%);
  transition: 0.250s
  &.count-enter-active {
    transform: translateY(0);
  } 
}

.count-exit{
  position absolute
  top 0
  left 0
  transform: translateY(0);
  transition: 0.250s
  &.count-exit-active {
    transform: translateY(-100%);
  } 
}